.tinper-bee-theme-example{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 500px;
  border: 1px solid #F0F0F0;
  padding: 5px;
  // border-left: 0px;

  .u-label {
    min-width: 80px;
    white-space: nowrap;
    text-align: right;
    line-height: 29px;
  }
  .u-checkbox-group,
  .col{
    display: inline-flex;
  }
  .u-form-item,
  .u-row >div{
    padding-left:0px;
    padding-right:0px;
  }
  .u-search .u-panel{
    padding-top: 0px;
  }
  .u-search-resident{
    padding-bottom: 0px;
    padding-top: 0px;
  }

  .demo-head{
  box-sizing: border-box;
  }

  .demo-body{
    // margin: 0 -20px;
    margin: 0 0px;
  }

  .demo-head .u-row{
  margin-left: -20px !important;
  margin-right: -35px;
  }


  // .index_search{
  //   overflow-y: scroll;
  //   overflow-x: hidden;
  //   width: 240px;
  //   height: 500px;
  // }
  // .index_grid{
  //   height: 500px;
  //   overflow-y: scroll;
  //   overflow-x: hidden;
  // }


  .datepicker-container{
    min-width: 97px;
    .u-form-control{
      height: 26px;
    }
  }

}


.tinper-bee-theme-context{
  width: 100%;
  .left{
    float: left;
  }
  .right{
    float: right;
  }
}

.menu_context{
  overflow-y: scroll;
  overflow-x: hidden;
  width: 240px;
  height: 500px;
  // border: 0px solid #F0F0F0;
  // border-bottom: 1px solid #F0F0F0;
  position: relative;
}
// .menu_context ul{
//   min-height: 500px;
// }

// .men_ul{
//   position: absolute;
//   left: 0px;
//   right: 0px;
//   bottom: 0px;
//   top: 0px;
// }

.operation-btn{
  .u-button{
    min-width: 10px;
    margin-right: 10px;
    margin-left: 10px;
    line-height: 12px;
  }
}

.u-table-fixed-right .u-table-tbody td{
  padding-top: 8px;
  padding-bottom: 8px;
}

.home-head{
  margin-bottom: -50px;
}