@import  '../../../node_modules/bee-colorpicker/build/ColorPicker.css';
@import  '../../../node_modules/bee-search-panel/build/SearchPanel.css';

.tinper-bee-theme-home{
  width: 100%;
  height: 100%;
  .u-row {
    margin: 0;
  }
  &.show{
    display: block;
  }
  &.hidden{
    display: none;
  }
  .header{
    ul>li{
      display: inline;
      margin: 10px;
    }
  }

  .primry{
    width: 100%;
    height: 100%;
    margin-top: 10px;

    // .color-input label{
    //   // width: 200px;
    // }
    // .color-input{
    //   // width: 450px;
    // }

    .u-form-item {
      padding-left: 0px;
      padding-right: 0px;
    }
    .u-row > div {
      padding-left: 0px;
      padding-right: 0px;
    }

  } 
  .btn-cont {
    position: relative;
    margin-bottom: 20px;
  }
  .sub-cont{
    position:fixed;
    bottom: 0px;
    left: 290px;
    height: 80px;
    line-height: 80px;
    width: 100%;
    z-index: 10;
    background: #fff;
    width: calc(100% - 340px);
    padding-left: 10px;
    border: 1px solid #f0f0f0;
    // box-shadow: 0px 0px 10px #ccc;
    label{
      margin: 0 10px;
    }
  }
  .annotation{
    display: inline-block;
    width: 80%;
    padding: 40px 10px;
    p{
      font-size: 16px;
      font-weight: bold;
    }
  }
  .submit{
    display: inline-block;
    width: 20%;
    text-align: right;
    vertical-align: top;
    button{
      height: 50px;
      width: 120px;
    }

  }
  hr{
    width: 100%;
  }

  .online{
    clear: both;
  }
  .online.title{
    // margin-top: 40px; 
    padding: 20px;
    padding-left: 0;
    padding-bottom: 10px;
  }

  .exampleall{
    width: 100%;
    height: 100%;
    border: 1px solid rgba(240,240,240,1);  
  }

  .exampleall-app{
    width: 100%;
    height: 100%;
    padding: 20px;
    border: 1px solid rgba(240,240,240,1);
    .example-left{
      width: 240px;
      height: 100%;
      float: left;
    }
    .example-right{
      height: 100%;
      float: left;
      width: calc(100% - 250px);
    }
  }

  .exampleall-app:after{
    display: block;
    content: '';
    clear: both;
    // border: 1px solid #f0f0f0;
    box-sizing: border-box;
  }


  .title{
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    .titile-well{
      display: inline-block;
      margin-right: 10px;
      color: #40BE00;
    }
  }

  .button{
    margin: 10px;
  }

  h2{
    font-size: 28px;
    font-weight: 400;
    margin-top: 25px;
  }
  a{
    cursor:pointer;
    font-weight: bold;
  }
  // a:link{
  //   color: red;
  // };
  // a:visited{
  //   color: green;
  // }
  // a:hover{
  //   color: black;
  // }
  // a:active{
  //   color: yellow;
  // }

  .u-select-dropdown-menu-item{
    line-height: 26px;
  }
 
  .search-panel-cont{
    background: rgba(250,250,250,1);
    .u-search{
      background: transparent !important;
      padding-top: 20px;
    }

  }

  .clear{
    clear: both;
  }

  .version{
    padding-top: 20px;
    // margin-top: 206px;
    label{
      padding-right: 10px;
    }

  }

  .input_cont{

  }
  .search-panel-cont .u-search-header-title span{
    display:none;
  }

  .u-panel-default{
    margin-left: -20px;
  }

  .home-head{

    .u-search-header{
      display: none; 
    }
    .u-search-resident{
      padding-left: 4px;
    }
  }

}
